.manage-users-container {
  padding: 20px 150px;
}

.title-add-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  margin: 0;
}

.filters-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-field {
  flex: 1;
  margin-right: 10px;
}

.filter-field:last-child {
  margin-right: 0;
}

.users-table th,
.users-table td {
  text-align: left;
}

.mr-2 {
  margin-right: 8px;
}
