.navbar {
    background-color: white; /* White background */
    color: #333; /* Dark text for readability */
    padding: 10px 15px; /* Adjust padding as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo img {
    height: 50px;
    padding-left: 10px;
    padding-right: 5px;
    width: auto; /* Adjusted to maintain aspect ratio */
    vertical-align: middle;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-menu {
    list-style: none; /* Remove bullets */
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-item {
    padding: 10px 15px;
    color: #333; /* Dark color for the text */
    text-decoration: none;
    font-size: 16px;
    position: relative; /* Position relative to enable absolute positioning of pseudo-elements */
}

.navbar-item:hover, .navbar-btn:hover {
    color: #4CAF50; /* Change text color on hover */
}

.navbar-item::after, .navbar-btn::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4CAF50; /* Green line */
    transition: width .3s;
    position: absolute;
    bottom: -5px; /* Position the line right under the text */
    left: 0;
}

.navbar-item:hover::after{
    width: 100%; /* Extend the line across the text width on hover */
}

.navbar-btn {
    background-color: transparent; /* Transparent background for buttons */
    border: 2px solid white;
    padding: 10px 20px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-btn::after {
    display: none; 
}

.navbar-btn:hover {
    background-color: #f5f5f5; /* Light background on hover for buttons */
    border: 2px solid #4CAF50; /* Green border for buttons */
}

.cart-icon-container {
    position: relative;
    font-size: 24px;
    color: green; /* Make the cart icon green */
}
  
.cart-item-count {
    position: absolute;
    top: -7px;
    right: -13px;
    background-color: red;
    color: white;
    border-radius: 50%; /* Changed to a circle */
    padding: 2px 6px; /* Adjusted padding */
    font-size: 14px;
}

.auth-section {
    display: flex;
    align-items: center;
}

.user-email {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.user-email:hover {
    color: #4CAF50; /* Darker blue on hover */
}
