.product-details-container {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  padding: 2% 1%  10% 3%;
  justify-content: center;
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
}

.product-image {
  margin-right: 100px;
  position: relative; /* To position the badge */
}

.product-image img {
  width: 500px; /* Set a fixed width */
  height: 480px; /* Set a fixed height */
  object-fit: cover; /* Cover the container without stretching */
  border-radius: 10px;
}

.product-info {
  flex: 1; /* Product info takes up 1/3 of the width */
  display: flex;
  flex-direction: column;
  font-size: 1.2em; /* Increase font size */
}

.product-info h1 {
  font-size: 2.5em; /* Increase size for the product name */
  margin-bottom: 20px;
  text-align: left; /* Align to the left */
}

.product-info .detail {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-bottom: 20px;
}

.product-info .detail label {
  font-weight: bold;
  margin-right: 10px;
  text-align: left; /* Align the label to the left */
}

.product-info .detail p {
  margin: 0;
  text-align: left; /* Align the text to the left */
  word-wrap: break-word; /* Ensure long words break */
  inline-size: 150px;
  overflow-wrap: break-word;
}

.product-info .description-detail {
  display: flex;
  flex-direction: column; /* Stack label and description vertically */
  margin-bottom: 20px;
}

.product-info .description-detail label {
  font-weight: bold;
  text-align: left; /* Align the text to the left */
  margin-bottom: 5px; /* Space between label and description */
}

.product-info .description-detail p {
  margin: 0;
  text-align: justify; /* Align the text to the left */
  word-wrap: break-word; /* Ensure long words break */
}

.product-info .quantity-container {
  display: flex;
  align-items: right;
  margin-top: 20px;
}

.product-info .quantity-container label {
  margin-right: 20px; /* Adjust margin for better spacing */
  font-size: 1em;
}

.product-info .quantity-container input {
  width: 100px;
  padding: 5px;
  font-size: 1em;
}

.btn-add-to-cart {
  background-color: #28a745; /* Change button color to green */
  color: white;
  border: none;
  padding: 15px 30px; /* Increased padding for the button */
  cursor: pointer;
  font-size: 1.2em; /* Increased font size */
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  width: 230px; /* Increased width */
  text-align: center;
}

.btn-add-to-cart:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 1em;
}

.success-message {
  color: green;
  font-size: 1em;
  margin-top: 10px;
}

.detail-type {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.badge-details {
  padding: 5px 10px !important;
  align-self: start !important;
  border-radius: 3px !important;
  margin-left: 10px; /* Adjust if necessary */
}


.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}