.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* space between cards */
  justify-content: flex-start; /* Left align the cards */
}

.product-card {
  width: 300px; /* Fixed width for a square aspect ratio */
  height: 400px; /* Increase height to accommodate larger image */
  margin: 4px; /* Adjust margin to bring cards closer */
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  border-radius: 15px; /* Add border radius */
  overflow: hidden; /* Hide overflow */
  position: relative; /* To position the badge */
}

.product-card img {
  width: 100%;
  height: 250px; /* Increase height for a larger image */
  padding-top: 10px;
  object-fit: cover;
  border-radius: 15px 15px 0 0; /* Rounded corners for the top */
  transition: transform 0.2s;
}

.product-card:hover img {
  transform: translateY(-1.5px); /* Ascend the image a little */
}

.product-details {
  padding: 10px 0px; /* Reduced padding to fit content within square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto; /* Adjust height to fit square card */
}

.product-card h3 {
  font-weight: 350;
  margin-bottom: 5px;
  text-align: left;
  transition: text-decoration 0.2s;
}

.product-card:hover h3 {
  text-decoration: underline;
}

.product-card p {
  font-weight: 350;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: left;
}

.product-price {
  font-weight: 450;
  font-size: 17px;
  text-align: left;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  transition: transform 0.2s;
}

/* Custom badge colors */
.badge-organic {
  background-color: #a9ab88; /* Green */
}

.badge-bio {
  background-color: #84a44c; /* Orange */
}

.badge-natural {
  background-color: #8bc34a; /* Light Green */
}

.badge-conventional {
  background-color: #f6c653; /* Blue */
}

.badge-default {
  background-color: #757575; /* Grey */
}

/* Hover effect for the badge */
.product-card:hover .badge {
  transform: translateY(-1.5px); /* Ascend the badge a little */
}
