/* src/styles/UserProfile.css */
.user-profile-container {
  font-family: 'Arial', sans-serif; 
  padding: 30px;
  width: 100%;
  max-width: 1200px; /* Increased width */
  margin: 20px auto;    
  background-color: #a9f7ac; 
  border-radius: 10px; 
}

.section-title {
  color: #333; 
  margin-bottom: 20px;
}

.user-details,
.orders-list,
.new-address-form,
.address-details {
  margin-bottom: 20px;
  align-items: center;
}

.error {
  color: red;
}

.success-message {
  color: green;
}

.new-address-form input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddffdd;
  border-radius: 5px; 
  transition: border-color 0.2s; 
}

.new-address-form input:focus {
  border-color: #4CAF50; 
}

.btn-add-address {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  border-radius: 5px; 
}

.btn-add-address:hover {
  background-color: #45a049;
}

.orders-list {
  display: flex;
  flex-direction: row; /* Arrange cards horizontally */
  flex-wrap: wrap;    /* Allow wrapping to next line if needed */
  gap: 20px;          /* Spacing between cards */
  justify-content: center; /* Center the cards horizontally */
}

.order-card {
  background: #e7ffeb;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%; /* Take up full width of container */
  max-width: 1000px;
  transition: transform 0.2s, box-shadow 0.2s; 
  border: 1px solid #ddd;
  display: flex; /* Enable flexbox for vertical layout */
  flex-direction: column; 
}

.order-card:hover {
  transform: translateY(-2px); 
  box-shadow: 0 4px 15px rgba(79, 219, 79, 0.15); 
}

.order-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.order-card p {
  margin: 5px 0;
}

.order-card ul {
  padding-left: 20px;
  list-style: none; 
}

.order-card ul li {
  margin-bottom: 5px; 
  font-weight: 400; 
}

.address-details p {
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 8px;
  align-self: center;
}

.new-address-form,
.address-details {
  background: #ddffdd;
  padding: 10px;
  width: 70%;
  margin: auto; /* Full container width */
  border-radius: 8px;
  margin-bottom: 20px;
}

.order-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-total { /* Style for price display */
  margin-top: auto; /* Push to bottom */
  font-weight: bold;
}
